<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Pre-requsites</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header class="hero">
    <div class="hero-content">
        <h1 class="heading_head">Welcome to My Fitness Tips</h1>
        <h3 class="heading_cont">Stay fit and healthy with our workout routines.</h3>
    </div>
    </header>

    <div class="aboutus">
        <div class="aboutus-content">
            <h1>about us</h1>
        <p>Welcome to My Fitness Tips! 
            We are dedicated to helping you achieve your fitness goals and live a 
            healthy lifestyle. Our mission is to provide you with valuable workout
            routines, fitness tips, and expert guidance to support you on your fitness 
            journey.</p>
        </div>
    
    </div>

    <div class="workout">
        <h1>Workout Routines</h1>
        <table id="mytablecontents">
            <thead id="myheadings">
            </thead>
            <tbody id="mytabledesc">

            </tbody>
            
        </table>
    </div>

    <div class="fitness" id="fitnessforloop">
        <h1>Fitness Equipment</h1>
        

    </div>

    <!-- types -->

    <!-- tips -->
     <div class="tips">
        <ul style="list-style-type: disc;" id="mytips">
        </ul>
     </div>

    <!-- loading scripts -->
    <script src="../static/js/scripts.js"></script>
</body>
</html>